<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dettagliOpera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dettagliOpera</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 *ngIf="status !== 200" style="text-align: center;"> Opera non trovata. </h2>

  <div *ngIf="status === 200">
    <ion-list>
      <ion-item>
        <ion-col>
          <ion-img class="img" src="{{opera.immagini[0]}}"></ion-img>

          <h2 style="text-align: center;"><p> {{opera.nome}} </p>
            <ion-icon slot="end" class="right" (click)="aggiungiPreferiti()" *ngIf="!isFavorite" size="large"
                      name="heart-outline"></ion-icon>
            <ion-icon slot="end" class="right" (click)="aggiungiPreferiti()" *ngIf="isFavorite" size="large"
                      name="heart"></ion-icon>
          </h2>

          <h3 style="text-align: start;"> {{opera.data}} </h3>
        </ion-col>
      </ion-item>
      <h3 *ngFor="let artista of artisti"
          style="text-align: start;" routerLink="/artista/{{artista.id}}"> {{artista.nome}} </h3>

      <p> {{opera.descrizione}} </p>
    </ion-list>
  </div>
</ion-content>
