<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar show-clear-button="always" (ionInput)="cerca($event)" placeholder="Cerca..."></ion-searchbar>
  <ion-list *ngIf="resultsOpere.length > 0">
    <ion-item><h3>  Opere </h3></ion-item>
    <ion-item lines="none" button *ngFor="let opera of resultsOpere" routerLink="/dettagli-opera/{{opera.id}}">
      <ion-avatar slot="start">
        <img [src]="opera.immagini[0]" />
      </ion-avatar>
      <ion-label> 
        {{opera.nome}} 
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="resultsArtisti.length > 0">
    <ion-item><h3> Artisti </h3></ion-item>
    <ion-item lines="none" button *ngFor="let artista of resultsArtisti" routerLink="/artista/{{artista.id}}">
      <ion-avatar slot="start">
        <img [src]="artista.immagineartista" />
      </ion-avatar>
      <ion-label> 
        {{artista.nome}} 
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="resultsOpere.length === 0 && resultsArtisti.length === 0">
    <ion-item *ngIf="status === -1"> Caricamento in corso... </ion-item>
    <ion-item *ngIf="status === 200"> Nessun risultato. </ion-item>
    <ion-item *ngIf="status !== 200 && status !== -1"> Problema di connessione. Riprova più tardi. </ion-item>
  </ion-list>
</ion-content>
