<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>artista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">artista</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 *ngIf="status !== 200" style="text-align: center;"> Artista non trovato. </h2>

  <div *ngIf="status === 200">


    <h2 style="margin-left: 20px;"> {{artista.nome}} </h2>
    <ion-img class="img"
             src="{{artista.immagineartista}}"></ion-img>
   <!-- <h3 style="text-align: center;"> {{artista.data}} </h3> -->
    <h3>Biografia</h3>
    <p>{{artista.biografia}}</p>
    <h3>Opere</h3>
    <ion-list>
      <ion-item *ngFor="let opera of opere" routerLink="/dettagli-opera/{{opera.id}}">
        <p> {{opera.nome}} </p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
