<ion-header [translucent]="true">

  <ion-toolbar class="topbar">
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" fill="outline" class="search" shape="round" routerLink="/search">
    Cerca tra le nostre esposizioni...
  </ion-button>

  <img src="./assets/image1.jpeg" width="650" height="350"/>

  <ion-text>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla arcu lorem, sit amet elementum mi commodo sit amet. Quisque vitae consectetur tellus, et finibus sapien. Praesent bibendum at mi tincidunt aliquet. Proin eu convallis diam. Curabitur vitae tortor eget risus cursus eleifend. Sed at dui eget tellus efficitur fringilla in sed urna. Vestibulum dapibus id dolor quis convallis. Etiam diam libero, congue a augue sed, tempus fermentum nisl. Aenean quis quam ut quam vestibulum faucibus. Nunc malesuada magna placerat magna tristique posuere. Pellentesque gravida dignissim urna, at rhoncus dui semper ut. Fusce at sodales ante, eu dapibus enim. Vivamus tincidunt, augue at interdum consectetur, ligula massa auctor dolor, ut pretium libero quam a metus. Pellentesque lorem enim, feugiat vitae nisl id, aliquet auctor risus.

      Donec sit amet tincidunt nunc. Sed vehicula ante et posuere congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis massa quis lorem dapibus porttitor. Suspendisse scelerisque blandit maximus. Morbi in justo eget lacus fermentum pulvinar. Sed congue laoreet rutrum. Sed facilisis lorem velit, vel auctor purus sodales non. Suspendisse varius porttitor volutpat. Curabitur ac massa nec eros condimentum porta. Nulla auctor neque at est vehicula, vitae feugiat justo ultricies. Vestibulum quis laoreet magna, nec faucibus dui. Vivamus lectus augue, pellentesque et augue ac, feugiat euismod purus.
    </p>
  </ion-text>

  <ion-button routerLink="/guestbookform" class="recensione" color="dark" shape="round">Lascia una recensione</ion-button>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar color="secondary">

      <ion-row>
        <ion-col><ion-button href="www.facebook.com" fill="clear">
          <ion-icon name="logo-facebook"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button href="www.twitter.com" fill="clear">
          <ion-icon name="logo-twitter"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button href="www.instagram.com" fill="clear">
          <ion-icon name="logo-instagram"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button data-href="tel:1234567" fill="clear">
          <ion-icon  name="call-outline"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button data-href="https://api.whatsapp.com/send?phone=+391234567894" fill="clear">
          <ion-icon  name="logo-whatsapp"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button fill="clear">
          <ion-icon  name="mail-outline"></ion-icon></ion-button></ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>

</ion-content>
