<ion-header [translucent]="true">

  <ion-toolbar class="topbar">
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button class="search" expand="block" fill="outline" shape="round" routerLink="/search" aria-label="Cerca tra le nostre esposizioni">
    <ion-icon class="search-ico" name ="search" aria-hidden="true" >
  </ion-icon>
    Cerca tra le nostre esposizioni
  </ion-button>

  <img src="./assets/image1.jpeg" width="650" height="350"/>

  <ion-text>
    <p>
       Costruito agli inizi del 1900, il Museo di Rocca Cannuccia è un luogo affascinante dove l'arte prende vita.
      Situato nel cuore della città, è possibile esplorarne le ampie gallerie, immergendosi in un viaggio emozionante attraverso le opere
      di artisti rinomati. Si possono ammirare dipinti straordinari, opere d'arte concettuali che spingono i confini dell'immaginazione.
       La nostra collezione presenta opere dell’Impressionismo, Neoclassicismo, Romanticismo, Futurismo, Cubismo, offrendo
      una panoramica completa dei movimenti artistici e delle correnti culturali più significative dove ogni passo nel
      museo catapulterà in un nuovo mondo di creatività e interpretazione. Inoltre, è stato dato al museo un tocco
      moderno offrendo un'esperienza migliore, dove, affianco alle opere saranno presenti dei QR code che, tramite
      l'applicazione del museo, è possibile visualizzare la descrizione dell'opera scansionata.
      Il museo non è solo un luogo per ammirare l'arte, ma anche un centro di apprendimento e di scambio culturale.
      Esso offre la possibilità ai visitatori di poter lasciare una recensione sull’esperienza che hanno avuto all'interno della visita
      così da condividerlo ad altri visitatori.
      Venite a trovarci e lasciatevi trasportare in un mondo di bellezza e creatività senza confini.
      Il Museo di Rocca Cannuccia è un luogo in cui l'arte si manifesta in tutte le sue sfumature, ispirando,
      sfidando e arricchendo la vita di coloro che lo visitano.
    </p>
  </ion-text>

  <ion-button routerLink="/guestbookform" class="recensione" color="dark" shape="round">Lascia una recensione</ion-button>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar color="secondary">

      <ion-row>
        <ion-col><ion-button (click)="openFacebookPage()" fill="clear">
          <ion-icon name="logo-facebook"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button (click)="openTwitterPage()" fill="clear">
          <ion-icon name="logo-twitter"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button (click)="openInstagramPage()" fill="clear">
          <ion-icon name="logo-instagram"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button data-href="tel:1234567" fill="clear">
          <ion-icon  name="call-outline"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button (click)="openWhatsappPage()" fill="clear">
          <ion-icon  name="logo-whatsapp"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button fill="clear">
          <ion-icon  name="mail-outline"></ion-icon></ion-button></ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>

</ion-content>
